{% extends 'base.html.twig' %}
{% block title %}Ajouter un stagiaire
{% endblock %}
{% block body %}
	{% if edit %}
		<h1 class="text-2xl font-bold uppercase text-center">Editer un stagiaire</h1>
	{% else %}
		<h1 class="text-2xl font-bold uppercase text-center">Ajouter un stagiaire</h1>
	{% endif %}

	{# form_start permet de gérer manuellement la disposition du formulaire #}
	{{ form_start(formAddStagiaire, {'attr': {'class': 'mx-auto bg-white p-8 rounded-md shadow-md mt-5'}}) }}
	<div class="flex gap-4">
		<div class="left">
			{{ form_row(formAddStagiaire.nom) }}
			<div class="mt-5">
				{{ form_row(formAddStagiaire.prenom) }}
			</div>
			<div class="mt-5">
				{{ form_row(formAddStagiaire.dateNaissance) }}
			</div>
			<div class="mt-5">
				{{ form_row(formAddStagiaire.mail) }}
			</div>
		</div>
		<div class="right">
			{{ form_row(formAddStagiaire.sexe) }}
			<div class="mt-5">
				{{ form_row(formAddStagiaire.ville) }}
			</div>
			<div class="mt-5">
				{{ form_row(formAddStagiaire.tel) }}
			</div>
			<div class="mt-5">
				{{ form_row(formAddStagiaire.session_stagiaire) }}
			</div>
		</div>
	</div>
	{{ form_row(formAddStagiaire.submit, {'label': 'Ajouter'}) }}
	{{ form_end(formAddStagiaire) }}
{% endblock %}
