{% extends 'base.html.twig' %}

{% block title %}Liste des sessions
{% endblock %}

{% block body %}
	<h1 class="text-2xl font-bold uppercase text-center">Liste des sessions</h1>
	<div class="btns flex justify-center mt-5">
		<a href="{{ path('add_session') }}" class="bg-blue-500 hover:bg-blue-700 hover:scale-110 text-white font-bold py-2 px-4 rounded-full ease-in-out duration-500 uppercase">add session</a>
	</div>
	{% if sessions %}
		<div class="container flex gap-4 justify-center mt-5">
			{% for session in sessions %}

				<a class="hover:scale-105 transition-all duration-700" href="{{ path('show_session', {'id': session.id }) }}">
					<div class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
						<p class="text-slate-900 dark:text-white text-base tracking-tight">
							<strong>Nom :</strong>
							{{ session.getLabel }}</p>
						<p class="text-slate-900 dark:text-white text-base tracking-tight">
							<strong>Nombre de places :</strong>
							{{ session.getNbPlace }}</p>
						<p class="text-slate-900 dark:text-white text-base tracking-tight">
							<strong>Date de début :</strong>
							{{ session.getDateDebut|date("d/m/Y")  }}</p>

						<p class="text-slate-900 dark:text-white text-base tracking-tight">
							<strong>Date de fin :</strong>
							{{ session.getDateFin|date("d/m/Y") }}</p>
						<div class="btns flex justify-center mt-5 gap-2">
							<a href="{{ path('edit_session', {'id': session.id })}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full uppercase mt-5">Edit</a>
							<a href="{{ path('delete_session', {'id': session.id })}}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full uppercase mt-5">Delete</a>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	{% else %}
		<p>Il n'y a pas de sessions</p>
	{% endif %}


</div>{% endblock %}
