{% extends 'base.html.twig' %}

{% block title %}Détail de session
{% endblock %}

{% block body %}
	<h1 class="text-2xl font-bold uppercase text-center">Détail session ({{ session.label }})</h1>

	{# <a href="{{path('add_programme', {'id': session.id})}}">add program</a> #}

	<h2 class="text-2xl font-bold uppercase mt-5">Programmes :</h2>
	{% if programmes %}
		<div class="container flex gap-4 mt-5">
			{% for programme in session.programmes %}
				<div class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
					<p class="text-slate-900 dark:text-white text-base tracking-tight">
						<strong>Catégorie :</strong>
						{{ programme.module.categorie.label }}</p>
					<p class="text-slate-900 dark:text-white text-base tracking-tight">
						<strong>Module :</strong>
						{{ programme.module.label }}</p>
					<p class="text-slate-900 dark:text-white text-base tracking-tight">
						<strong>Durée :</strong>
						{{ programme.duree }}
						heures</p>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>La session n'a pas encore de programme</p>
	{% endif %}

	<h2 class="text-2xl font-bold uppercase mt-5">La liste des participants</h2>
	{% if session.stagiaires|length != 0 %}
		<table class="w-full border-collapse bg-white text-left text-sm text-gray-500 dark:text-white mt-5 table-auto">
			<thead class="bg-gray-50 dark:bg-slate-800">
				<tr class="divide-x">
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white w-max">ID</th>
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Nom</th>
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Prenom</th>
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Date naissance</th>
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Ville</th>
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Mail</th>
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Téléphone</th>
					<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Action</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-100 border-t border-gray-100 dark:bg-slate-400">
				{% for stagiaire in stagiaires %}
					<tr class="hover:bg-gray-50 hover:dark:bg-slate-800 divide-x">
						<td class="px-6 py-4">
							<a class="underline" href="{{ path('show_stagiaire', {'id': stagiaire.id })}}">{{ stagiaire.id }}</td>
						</td>
						<td class="px-6 py-4">{{ stagiaire.nom }}</td>
						<td class="px-6 py-4">{{ stagiaire.prenom }}</td>
						<td class="px-6 py-4">{{ stagiaire.dateNaissance|date('d/m/Y') }}
							({{ stagiaire.age }}
							ans)</td>
						<td class="px-6 py-4">{{ stagiaire.ville }}</td>
						<td class="px-6 py-4">{{ stagiaire.mail }}</td>
						<td class="px-6 py-4">{{ stagiaire.tel }}</td>
						<td class="px-6 py-4">
							<a href="{{ path('remove_stagiaire_to_session', {'id': session.id, 'stagiaire_id': stagiaire.id }) }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Retirer</a>
						</td>
					</tr>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>La session n'a pas encore de stagiaire</p>
{% endif %}

{% if session.getNbPlace <= session.getStagiaires.count %}
	<p>La session est complète</p>
{% else %}

	<h2 class="text-2xl font-bold uppercase mt-5">La liste des non participants</h2>
	<table class="w-full border-collapse bg-white text-left text-sm text-gray-500 dark:text-white mt-5 table-auto">
		<thead class="bg-gray-50 dark:bg-slate-800">
			<tr class="divide-x">
				<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white w-max">ID</th>
				<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Nom</th>
				<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Prenom</th>
				<th scope="col" class="px-6 py-4 font-bold uppercase text-gray-900 dark:text-white">Action</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-gray-100 border-t border-gray-100 dark:bg-slate-400">
			{% for stag in stagiairesNotIn %}
				<tr class="hover:bg-gray-50 hover:dark:bg-slate-800 divide-x">
					<td class="px-6 py-4">
						<a class="underline" href="{{ path('show_stagiaire', {'id': stag.id })}}">{{ stag.id }}</td>
					</td>
					<td class="px-6 py-4">{{ stag.nom }}</td>
					<td class="px-6 py-4">{{ stag.prenom }}</td>
					<td class="px-6 py-4">
						<a href="{{ path('add_stagiaire_to_session', {'id': session.id, 'stagiaire_id': stag.id }) }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Ajouter</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}{% endblock %}
