{% extends 'base.html.twig' %}

{% block title %}Liste des programmes
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btns flex justify-center gap-2 mb-5">
            <a href="{{ path('add_categorie') }}"
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full ease-in-out duration-500 uppercase">add
                categorie</a>
        </div>

        <h1 class="text-2xl font-bold uppercase text-center">Liste des programmes</h1>

        {% if programmes %}
            <div class="container grid sm:grid-cols-3 md:grid-cols-4 gap-4 justify-center mt-5">
                {% for programme in programmes %}
                    <div class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
                        <p class="text-slate-900 dark:text-white text-base tracking-tight">
                            <strong>Nom de session :</strong>
                            {{ programme.session.label }}</p>
                        <p class="text-slate-900 dark:text-white text-base tracking-tight">
                            <strong>Catégorie :</strong>
                            {{ programme.module.categorie.label }}</p>
                        <p class="text-slate-900 dark:text-white text-base tracking-tight">
                            <strong>Module :</strong>
                            {{ programme.module.label }}</p>
                        <p class="text-slate-900 dark:text-white text-base tracking-tight">
                            <strong>Durée :</strong>
                            {{ programme.duree }}
                            jours</p>
                        <div class="btns flex justify-center mt-5 gap-2">
                            <a href="{{ path('edit_programme', {'id': programme.id }) }}"
                               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 uppercase">Edit</a>
                            <a href="{{ path('delete_programme', {'id': programme.id }) }}"
                               class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 uppercase"
                               onclick="return confirm('Êtes-vous sure?')">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">Aucun programme</p>
        {% endif %}

        {% if categories %}
            <h2 class="text-2xl font-bold uppercase text-center mt-5">Liste des catégories</h2>
            <div class="container flex gap-4 justify-center mt-5">
                {% for categorie in categories %}
                    <div class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
                        <p class="text-slate-900 dark:text-white text-base tracking-tight text-center">

                            {{ categorie.label }}
                        </p>
                        <img src="{{ categorie.image }}" alt="image pour la catégorie : {{ categorie.label }}" width="150px">
                        <div class="flex justify-center mt-5 gap-4">
                            <a href="{{ path('show_categorie', {'id': categorie.id }) }}"
                               class="transition-all hover:text-blue-600 text-white">
                                <i class="fa-solid fa-eye fa-2xl"></i>
                            </a>
                            <a href="{{ path('edit_categorie', {'id': categorie.id }) }}"
                               class="transition-all hover:text-blue-600 text-white">
                                <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                            </a>
                            <a href="{{ path('delete_categorie', {'id': categorie.id }) }}"
                               class="transition-all hover:text-red-600 text-red-950"
                               onclick="return confirm('Êtes-vous sure?')">
                                <i class="fa-solid fa-trash-can fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

		{% else %}
            <div class="text-center">
                <h1 class="text-2xl font-bold uppercase">Vous n'avez pas accès a la page.</h1>
                <a href="{{ path('app_home') }}" class="underline mt-2">retourner à la page d'accueil</a>
            </div>
    {% endif %}
{% endblock %}
